{% extends 'layout.html' %}

{% block title %}[[ name ]]{% endblock %}

{% block content %}
<h1 style="margin-top: 20px;">图书管理系统</h1>
<p>
    <a class="btn btn-success" href="/create">新增书籍</a>    
</p>
<input type="text" class="col-4 form-control" style="margin-bottom: 20px;" name="BooksSearch[booktime]">
<p>
    <a class="btn btn-success" href="/search">搜索</a>    
</p>
<h1>21313213</h1>
<table class="table table-striped table-bordered">
  <th>biaohao</th>
  <th>mingzi</th>
  <th>shijian</th>
  <th>neirong</th>
   <th>caozuo</th>
{% for i in user.bo %}
	<tr>
    	<td>[[i.bookid]]</td>
    	<td>[[i.bookname]]</td>
    	<td>[[i.booktime]]</td>
    	<td>[[i.booktitle]]</td>
    	<td>
    		<a class="" href=""><span class="index_span">删除</span></a><a href=""><span class="index_span">更新</span></a><a href=""><span class="index_span">修改</span></a>
    	</td>
	</tr>
{% endfor %}
</table>
<div id="app-6">
  <h1>{{ message }}</h1>
  <input v-model="message">
</div>
{% endblock %}